<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表过滤</title>
    <!-- 引入vue的库 -->
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <h2>人员列表</h2>
        <input type="text" placeholder="请输入名字" v-model="keyWord">
        <ul>
            <li v-for="p in filterPersons" :key="p.id">
                {{p.name}}-{{p.age}}-{{p.sex}}
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false//阻止vue在启动时生成生产提示

        // watch实现
        //#region
        // new Vue({
        //     el:'#root',
        //     data:{
        //         keyWord:'',
        //         persons:[
        //             {id:'001',name:'周冬雨',age:18,sex:'女'},
        //             {id:'002',name:'马冬梅',age:19,sex:'女'},
        //             {id:'003',name:'周杰伦',age:20,sex:'男'},
        //             {id:'004',name:'温兆伦',age:21,sex:'男'},
        //         ],
        //         filterPersons:[]
        //     },
        //     watch:{
        //         keyWord:{
        //             // 初始化的时候，页面会没有数据。因为filterPersons是一个空数组。
        //             // 而filter有一个特性：每一个字符串都包含一个空字符（''）,再加上immediate配置项
        //             // 就会在加载页面的时候自动调用一次handler
        //             immediate:true,
        //             handler(val){
        //                 this.filterPersons = this.persons.filter((p)=>{
        //                     return p.name.indexOf(val) !== -1
        //                 })
        //             },
        //         }
        //     }
        // })
        //#endregion

        // 计算属性实现 computed
        new Vue({
            el: '#root',
            data: {
                keyWord: '',
                persons: [
                    { id: '001', name: '周冬雨', age: 18, sex: '女' },
                    { id: '002', name: '马冬梅', age: 19, sex: '女' },
                    { id: '003', name: '周杰伦', age: 20, sex: '男' },
                    { id: '004', name: '温兆伦', age: 21, sex: '男' },
                ],
            },
            computed: {
                filterPersons() {
                    return this.persons.filter((p) => {
                        return p.name.indexOf(this.keyWord) !== -1
                    })
                }
            }
        })
    </script>
</body>

</html>